@font-face {
    font-family: 'mainFont';
    src: url('helvetica.ttf');
}

* {
  margin: 0;
}
body {
  background-color: #FEFEFE;
  height: 100%;
}

#right {
  background-color: #2B588D;
  height: 100vh;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button#button1 {
  width: 50%;
  background-color: #2B588D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h1 {
    /* Enter New Patient: */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}

h4 {
    /* Enter New Patient: */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}


#white-text {
  color: white;
}

h2 {
    /* Enter New Patient: */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5C5C5C;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0;
}

h3 {
    /* Enter New Patient: */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
hr {
  background-color: #fff;
  height: 2px;
  width: 70px;
  width: 10%;
  margin-top: 1.75em;
  border: 0px none;
}


.form {
  position: relative;
  font-family: 'helvetica';
  z-index: 1;
  border-radius: 5px;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2B588D;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #4386D5;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #0B305B;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #002F65;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #002F65;
}
