<html>
	<head>
		<!-- Alex's stylesheet, very basic -->
				<link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
		<!-- Ian's stylesheets -->


	</head>
	<body>
		<nav id="navbar">
	    <div id="nav-left">
	    <h1 id="white-text">Online Portal</h1>
	    </div>
	    <div id="nav-right">
	      <h5 id="white-text">Dashboard</h5>
	      <h5 id="white-text">Update Patient</h5>
	      <h5 id="white-text">New Patient</h5>
	      <h5 id="white-text">Your Account</h5>
	    </div>
	  </nav>

		<div id="main">
			<h1>Enter Identifying Information to Find Exisitng Patient</h1>
			<form>
				<div class="form-group">
					<label for="last-name">Last (family) name:</label>
			    	<input type="text" name="last-name" />
				</div>

				<div class="form-group">
					<label for="first-name">First name:</label>
					<input type="text" name="first-name" />
				</div>

				<div class="form-group">
					<label for="middle">Middle name:</label>
					<input type="text" name="middle-name" />
				</div>

				<div class="form-group">
					<label for="date-of-birth">Date of birth:</label>
					<input type="text" name="date-of-birth"  class="date" placeholder="xx/xx/xxxx "/>
				</div>

				<div class="form-group">
					<label for="sex">Sex:</label>
					<input type="radio" name="sex" value="male" />Male
	  				<input type="radio" name="sex" value="female" />Female
				</div>

				<div class="form-group">
					<label for="local-record-number">Local record number (optional):</label>
					<input type="text" name="local-record-number" />
				</div>


				<!-- <input type="button" value="Find"/>
				<input type="button" value="View all patients"/> -->
				<div id="continue-button-wrap">
					<button id="continue-button" class="button1" type="submit">Continue</button>
				</div>
			</form>
		</div>



		<div id="listview">
							<section>
								<div class="header">
									<h1 id="table-heading">All Patients</h1>
								</div>
								<!--for demo wrap-->
								<div class="tbl-header">
									<table cellpadding="0" cellspacing="0" border="0" id="patients-table">
										<thead>
											<tr>
												<th>#</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Date Created</th>
												<th>Update Patient</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tbl-content">
									<table cellpadding="0" cellspacing="0" border="0" id="patients">
										<tbody>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>
											<tr>
												<td>3</td>
												<td>Sample First</td>
												<td>Sample Last</td>
												<td>4/11/2017</td>
												<td>
													 <button id="edit-button">
														<h4>Update</h4>
													</button></td>
											</tr>

										</tbody>
									</table>
								</div>
					</section>
		</div>

	</body>
</html>
