<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>
	<body>
		<nav id="navbar">
			<div id="nav-left">
			<h1 id="white-text">Online Portal</h1>
			</div>
			<div id="nav-right">
				<h5 id="white-text">Dashboard</h5>
				<h5 id="white-text">Update Patient</h5>
				<h5 id="white-text">New Patient</h5>
				<h5 id="white-text">Your Account</h5>
			</div>
		</nav>

		<div id="main">
			<h1>2B: Previous Treatment History</h1>
			<form action="/form" method="post">
				<input type="hidden" name="form_number" value="2b">
				<input type="hidden" name="contact-with-drug-resistant" value="<%= options['contact-with-drug-resistant'] %>">

				<div class="form-section">
					<div class="form-group">
						<label for="first-line-started-date">Date first-line treatment started:</label>
				    	<input type="text" name="first-line-started-date" />
					</div>

					<div class="form-group">
						<label for="first-line-stopped-date">Date first-line treatment stopped:</label>
				    	<input type="text" name="first-line-stopped-date" />
					</div>
				</div>

				<div class="form-section">
					<!-- Rows have numbers in PowerPoint TODO? -->
					<!-- TODO names, values, POSTing, actual options for <select>s  -->
					<!-- TODO flexible number of rows (drugs)? JS -->
					<label for="">First-line regimen:</label>
					<table class="secondary-input">
						<tr>
							<th>Drug</th>
							<th>Dose</th>
							<th>Route</th>
							<th>Frequency</th>
						</tr>
						<tr>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
						</tr>
						<tr>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
						</tr>
						<tr>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
						</tr>
						<tr>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
						</tr>
						<tr>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
							<td>
								<select><option>Lorem ipsum</option></select>
							</td>
						</tr>
					</table>
				</div>

				<div class="form-section">
					<div class="form-group">
						<label for="steroids-prescribed">Steroids prescribed?</label>
						<input type="radio" name="steroids-prescribed" value="yes" />Yes
		  				<input type="radio" name="steroids-prescribed" value="no" />No
		  				<input type="radio" name="steroids-prescribed" value="unknown" />Unknown
					</div>
				</div>

				<div id="bottom-button-wrap">
				<div id="back-button-wrap">
					<!-- <a href="form2.html"> -->
					<a href="#">
						<input id="back-button" class="button1" type="button" name="previous" value="Previous" />
					</a>
				</div>

				<div id="continue-button-wrap">
					<button id="continue-button" class="button1" type="submit">Continue</button>
				</div>
			</div>
			</form>
		</div>
	</body>
</html>
