<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />
	</head>
	<body>
		<nav id="navbar">
			<div id="nav-left">
			<h1 id="white-text">Online Portal</h1>
			</div>
			<div id="nav-right">
				<h5 id="white-text">Dashboard</h5>
				<h5 id="white-text">Update Patient</h5>
				<h5 id="white-text">New Patient</h5>
				<h5 id="white-text">Your Account</h5>
			</div>
		</nav>

		<div id="main">
			<h1>5: Initial Laboratory Results</h1>
			<form action="/form" method="post">
				<input type="hidden" name="form_number" value="5">
				<div class="form-section">
					<label>Smear:</label>

					<div class="secondary-input">
						<div class="form-group">
							<div class="form-group">
								<input type="radio" name="smear-done" value="positive" />
								<label>Positive</label>
							</div>
							<div class="form-group">
								<input type="radio" name="smear-done" value="negative" />
								<label>Negative</label>
							</div>
							<div class="form-group">
								<input type="radio" name="smear-done" value="not-done" />
								<label>Not done</label>
							</div>
						</div>

						<div class="form-section">
							<label for="smear-date">Date specimen collected:</label>
							<input type="text" name="smear-date" />
						</div>

						<label for="smear-type">Specimen type:</label>
						<div class="secondary-input">
							<div class="form-group">
				    			<input type="radio" name="smear-type" value="sputum" />
				    			<label>Sputum</label>
				    		</div>
				    		<div class="form-group">
				    			<input type="radio" name="smear-type" value="gastric-aspirate" />
				    			<label>Gastric aspirate</label>
				    		</div>
				    		<div class="form-group">
				    			<input type="radio" name="smear-type" value="bal" />
				    			<label>BAL</label>
				    		</div>
				    		<div class="form-group">
				    			<label>Other: </label>
				    			<input type="text" name="smear-type" />
				    		</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="">Culture:</label>
					<div class="secondary-input">
						<div class="form-group">
							<input type="radio" name="culture-done" value="positive" />
							<label>Positive</label>
						</div>
						<div class="form-group">
							<input type="radio" name="culture-done" value="negative" />
							<label>Negative</label>
						</div>
						<div class="form-group">
							<input type="radio" name="culture-done" value="not-done" />
							<label>Not done</label>
						</div>

					    <div class="form-section">
					    	<label for="culture-date">Date specimen collected:</label>
							<input type="text" name="culture-date-date" />
					    </div>

					    <label for="culture-type">Specimen type:</label>
					    <div class="secondary-input">
					    	<div class="form-group">
					    		<input type="radio" name="culture-type" value="sputum" />
					    		<label>Sputum</label>
					    	</div>
					    	<div class="form-group">
					    		<input type="radio" name="culture-type" value="gastric-aspirate" />
					    		<label>Gastric aspirate</label>
					    	</div>
					    	<div class="form-group">
					    		<input type="radio" name="culture-type" value="bal" />
					    		<label>BAL</label>
					    	</div>
					    	<div class="form-group">
					    		<label>Other: </label>
					    		<input type="text" name="culture-type" />
					    	</div>
					    </div>
					</div>
				</div>

				<div class="form-section">
					<label for="">Other detection method (if done):</label>
					<div class="secondary-input">
						<div class="form-group">
							<label for="other-detection-method">Method:</label>
							<select name="other-detection-method">
								<option value="GeneXpert">GeneXpert</option>
								<option value="other NAAT">other NAAT</option>
							</select>
					    </div>
					    <div class="form-group">
					    	<input type="radio" name="other-detection-method-detected" value="detected" />
					    	<label>Detected</label>
					    </div>
					    <div class="form-group">
					    	<input type="radio" name="other-detection-method-detected" value="not-detected" />
					    	<label>Not detected</label>
					    </div>
					    <div class="form-group">
					    	<input type="radio" name="other-detection-method-detected" value="indeterminate" />
					    	<label>Indeterminate</label>
					    </div>

					    <div class="form-section">
					    	<label for="culture-date">Date specimen collected:</label>
							<input type="text" name="culture-date-date" />
					    </div>

						<label for="other-detection-method-type">Specimen type:</label>
					    <div class="secondary-input">
					    	<div class="form-group">
					    		<input type="radio" name="other-detection-method-type" value="sputum" />
					    		<label>Sputum</label>
					    	</div>

					    	<div class="form-group">
					    		<input type="radio" name="other-detection-method-type" value="gastric-aspirate" />
					    		<label>Gastric aspirate</label>
					    	</div>

					    	<div class="form-group">
					    		<input type="radio" name="other-detection-method-type" value="bal" />
					    		<label>BAL</label>
					    	</div>

					    	<div class="form-group">
					    		<label>Other: </label>
					    		<input type="text" name="other-detection-method-type" />
					    	</div>
					    </div>
					</div>
				</div>

				<div class="form-section">
					<h1><label for="">Conventional DST:</label></h1>
					<div class="form-group">
				    	<label for="conventional-dst-date">Date specimen collected:</label>
						<input type="text" name="conventional-dst-date" />
				    </div>
					<table>
						<tr>
							<th>Drug</th>
							<th>Resistant</th>
							<th>Susceptible</th>
							<th>Unknown</th>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-isoniazid">Isoniazid</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-isoniazid" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-isoniazid" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-isoniazid" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-rifampin">Rifampin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-rifampin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-rifampin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-rifampin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-pyrazinamide">Pyrazinamide</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-pyrazinamide" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pyrazinamide" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pyrazinamide" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-ethambutol">Ethambutol</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethambutol" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethambutol" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethambutol" value="unknown" />
							</td>
						</tr>
						<!-- BLANK ROW -->
						<tr class="blank-row"></tr>
						<tr>
							<td>
								<label for="conventional-dst-streptomycin">Streptomycin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-streptomycin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-streptomycin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-streptomycin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-amikacin">Amikacin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-amikacin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-amikacin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-amikacin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-capreomycin">Capreomycin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-capreomycin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-capreomycin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-capreomycin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-kanamycin">Kanamycin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-kanamycin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-kanamycin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-kanamycin" value="unknown" />
							</td>
						</tr>
						<!-- BLANK ROW -->
						<tr class="blank-row"></tr>
						<tr>
							<td>
								<label for="conventional-dst-ciprofloxacin">Ciprofloxacin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-ciprofloxacin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ciprofloxacin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ciprofloxacin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-levofloxacin">Levofloxacin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-levofloxacin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-levofloxacin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-levofloxacin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-moxifloxacin">Moxifloxacin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-moxifloxacin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-moxifloxacin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-moxifloxacin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-ofloxacin">Ofloxacin</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-ofloxacin" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ofloxacin" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ofloxacin" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-ethionamide">Ethionamide</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethionamide" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethionamide" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-ethionamide" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-cycloserine">Cycloserine</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-cycloserine" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-cycloserine" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-cycloserine" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-pas">PAS</label>
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="unknown" />
							</td>
						</tr>
						<!-- BLANK ROW -->
						<tr class="blank-row"></tr>
						<tr>
							<td>
								<label for="conventional-dst-pas">Other:</label>
								<input type="text" name="conventional-dst-other-1" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-pas">Other:</label>
								<input type="text" name="conventional-dst-other-2" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="unknown" />
							</td>
						</tr>
						<tr>
							<td>
								<label for="conventional-dst-pas">Other:</label>
								<input type="text" name="conventional-dst-other-3" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="resistant" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="susceptible" />
							</td>
							<td>
								<input type="radio" name="conventional-dst-pas" value="unknown" />
							</td>
						</tr>
					</table>
				</div>

				<div id="bottom-button-wrap">
				<div id="back-button-wrap">
					<!-- <a href="form4.html"> -->
					<a href="#">
						<input id="back-button" class="button1" type="button" name="previous" value="Previous" />
					</a>
				</div>

				<div id="continue-button-wrap">
					<input id="continue-button" class="button1" type="submit" name="continue" value="Continue" />
				</div>
			</div>
			</form>
		</div>
	</body>
</html>
