<!DOCTYPE html>
<html>
<head>
    <title>MDR-TB Physician Portal</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
      <div id="right">
        <h1 id="white-text">MDR-TB Physician Portal</h1>
        <hr>
        <h3>This is filler text about the purpose of the web app</h3>
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>

          <a type="button" href="/auth/google" class="btn-google btn btn-primary btn-lg btn-block">
            <span class="fa fa-google"></span>Sign in with Google
          </a>

          <p class="text-center">or</p>

          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <form class="login-form" action="/login" method="post">
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
            <p class="message">Not registered? <a href="/signup">Create an account</a></p>
          </form>

        </div>
      </div>
</body>
</html>
