<!DOCTYPE html>
<html>
<head>
    <title>MDR-TB</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/patient.css">
</head>
<body>
  <nav id="navbar">
    <div id="nav-left">
    <h1 id="white-text">Online Portal</h1>
    </div>
    <div id="nav-right">
      <h5 id="white-text">Dashboard</h5>
      <h5 id="white-text">Update Patient</h5>
      <h5 id="white-text">New Patient</h5>
      <h5 id="white-text">Your Account</h5>
    <div>
  </nav>


  <div id="main">
    <div class="full">
      <h1 id="patient">Patient Information</h1>
      <hr/>
    </div>
    <div class="full" id="half-wrap">
    <div id="patient-info" class="half">
      <ul id="info-list">
        <li>First Name: John</li>
        <li>Lapham Name: Doe</li>
        <li>Date Created: 2-20-2017</li>
        <li>Sex: Male</li>
        <li>Record Number: #123345</li>
      </ul>
    </div>
    <div id="card-wrapper" class="half">
        <div id="card">
          <h1>Update Baseline Info</h1>
          <h2>Click to update current patient.</h2>
          <button class="button1" onclick="javascript:window.location='form_find_existing_patient.html';">
            <h3>Update</h3>
          </button>
        </div>
        <div id="card">
          <h1>Update Regimen</h1>
          <h2>Click to update patient's current regimen.</h2>
            <button class="button1" onclick="javascript:window.location='form1.html';">
              <h3>Start</h3>
            </button>
        </div>
        <div id="card">
          <h1>Update Outcome</h1>
          <h2>Click to update treatment outcome.</h2>
            <button class="button1" onclick="javascript:window.location='form1.html';">
              <h3>Start</h3>
            </button>
        </div>
    </div>
	</div>
</div>


</body>
</html>
