html, body {
	height: 100%;
}

#main {
	padding: 0px 40px 75px 40px;
}

/* goes around most every input and its corresponding label */
.form-group {
	margin: 10px 0px;
}

/* goes around inputs that should be closer together */
.form-section {
	margin: 20px 0px;
}

#continue-button-wrap {
	width: 100%;
	position: relative;
}

#continue-button {
	width: 120px;
	position: absolute;
	right: 30px;
}

label {
	font-size: 13pt;
	font-family: 
}

input[type="text"], input[type="number"] {
	height: 25px;
}

input[type="radio"], input[type="checkbox"] {
	margin-right: 5px;
}

select {
	margin-right: 10px;
}

/**********************
	***********************/

.secondary-input {
    margin: 10px 0px 10px 30px;
}

tr.blank-row {
    height: 20px;
}

.label-italic {
    font-style: italic;
}

td {
	vertical-align: top;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}